doctype html
html
    include templates/head
    body
        if (user)
            include templates/navbar_logged_in
        else
            include templates/navbar_logged_out

        br
        div.charlie-brown
        br
		
        div.bathroom-floor
        br
		
        div.fancy-rectangles
        br
		
        div.diagonal-stripes
        br
		
        div.zig-zag
        br
		
        div.polka-dots
        br