nav.navbar.navbar-light(data-spy="affix" data-offset-top="197")
    // Toggle / Collapsible Button
    button.navbar-toggler(type="button" data-toggle="collapse"
    data-target="#collapsibleNavbar")
        span.navbar-toggler-icon

    // Navigation Items
    div.collapse.navbar-collapse#collapsibleNavbar
        ul.nav.navbar-nav.nav-tabs
            li
                a.nav-link(href="/login") Login
            li
                a.nav-link(href="/register") Register